/* =====================================
   全体
===================================== */

body{
    margin:0;
    background:#ffffff;
    font-family:"Noto Sans JP",sans-serif;
    color:#008bd7;
}

.container{

    width:min(1000px,92%);
    margin:40px auto;

}


/* =====================================
   タイトル
===================================== */

header{

    text-align:center;
    margin-bottom:25px;

}

h1{

    margin:0;
    font-size:56px;
    font-weight:900;
    color:#008bd7;

}


/* =====================================
   LIVE
===================================== */

.live{

    margin-top:28px;

    font-size:34px;
    font-weight:900;

    color:#ff2020;

    animation:blink 1.2s infinite;

}

@keyframes blink{

    0%{opacity:1;}
    50%{opacity:.35;}
    100%{opacity:1;}

}


/* =====================================
   現在の走者
===================================== */

.runner-card{

    display:flex;
    align-items:baseline;
    gap:28px;

    margin-top:35px;
    margin-bottom:25px;

}

.runner-card h2{

    margin:0;

    font-size:52px;
    color:#008bd7;

}

.runner-name{

    font-size:64px;
    font-weight:900;

    color:#69e0ff;

}


/* =====================================
   Twitch Player
===================================== */

.player-card{

    margin:0 auto;

}

#playerArea{

    width:100%;
    aspect-ratio:16 / 9;

    border:5px solid #69e0ff;

    border-radius:18px;

    overflow:hidden;

    background:#69e0ff;

}


/* =====================================
   下部
===================================== */

.bottom{

    margin-top:30px;

    display:flex;

    justify-content:flex-end;

}

.next-card{

    display:flex;

    gap:20px;

    align-items:baseline;

}

.next-card h3{

    margin:0;

    font-size:42px;

    color:#008bd7;

}

.next-name{

    font-size:52px;

    font-weight:900;

    color:#008bd7;

}


/* =====================================
   進行状況
===================================== */

.progress-card{

    display:none;

}


/* =====================================
   スマホ
===================================== */

@media(max-width:768px){

    h1{

        font-size:36px;

    }

    .live{

        font-size:24px;

    }

    .runner-card{

        flex-direction:column;
        gap:8px;

    }

    .runner-card h2{

        font-size:28px;

    }

    .runner-name{

        font-size:42px;

    }

    .next-card{

        flex-direction:column;
        gap:5px;

        align-items:flex-end;

    }

    .next-card h3{

        font-size:24px;

    }

    .next-name{

        font-size:32px;

    }

}
